// Place all the styles related to the JobPostings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ellipsis {
  display: block;
  float: left;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card.card_custom {
  span:after {
    content:"";
    display:table;
    clear:both;
  }
  .material-icons.activator {
    cursor: pointer;
    margin-left: 0px;
  }
  .tags {
    max-height: 2.5rem;
    overflow: hidden;
    .chip {
      margin-top: 5px;
    }
  }

}