!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Totesremotes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.deep-purple
      .nav-wrapper
        %a{href: '/', class:'brand-logo center'} Totes Remotes
        %ul.right.hide-on-med-and-down
          %li
            %a{href: new_job_posting_path} Create New Job
    = yield
